html,
body {
    height: 100%
}

body {
    /*background: linear-gradient(125deg, #FC3F5F 0%, #7D61FF 100.32%);*/
    font-family: 'Poppins', sans-serif;
    /*padding: 20px;
    /*position: fixed;
    /*add to do scroll, is it correct?*/
    /*overflow: auto;*/
    /*background-size: 100%;
    background-repeat: no-repeat;*/
    /*display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: ifr;*/
}

.wrapper {
    background: linear-gradient(125deg, #FC3F5F 0%, #7D61FF 100.32%);
    padding: 20px;
    min-height: 100%;
}

/*container*/
.container {
    max-width: 1410px;
    width: 100%;
    /*need to remove*/
    /*height: 1010px;
    /*need to remove*/
    border-radius: 32px;
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.80) -1.22%, #22282E 101.33%);
    box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.30);
    margin-left: auto;
    margin-right: auto;
    /*add at 6 lrsson*/
    padding-bottom: 50px;
}

/*nav*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.nav__btn {}

.nav__btn,
.nav__logo {
    max-width: 175px;
    width: 100%;
}

.nav__ul {
    display: flex;
    align-items: center;
    gap: 64px;
}

.nav__a {
    transition: .2s all ease-in-out;
    transform: scale(1);
}

.nav__a:hover {
    display: inline-block;
    transform: scale(1.1);
}

/*#menuCheckbox:checked ~ .nav__ul{
    /*display: none;
}*/
/*main*/
.main {
    margin-top: 179px;
}

.main__title {
    color: #F2F4F7;
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    max-width: 598px;
    margin-inline: auto;
    margin-bottom: 32px;
    transition: .5s all ease-in-out;
}

.main__title:hover {
    color: orange;

}

.main__desc {
    color: #F2F4F7;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    max-width: 598px;
    margin-inline: auto;
    margin-bottom: 80px;

}

.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    cursor: pointer;

    border-radius: 999px;
    border: 2px solid #FC40F4;
    padding: 16px 32px;

    font-size: 18px;
    font-weight: 600;
    color: #FC40F4;

    max-width: 239px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;

    transition: .5s all ease-in-out;
}

.main__btn:hover {
    transform: translateY(-5px);
    border-color: orange;
    color: orange;
    transition: .5s all ease-in-out;
}

/*loading*/
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-bottom: 161px;

}


/*btn*/
.btn {
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;

    border-radius: 999px;
    background: linear-gradient(93deg, #E1E1E1 8.37%, #FFF 99.95%);
    box-shadow: 0px 4px 50px 0px rgba(37, 37, 37, 0.08), 1px 1px 1px 0px rgba(135, 135, 135, 0.32) inset;

    color: #24282E;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 24px;
}

.icon-menu {
    color: #FFF;
    font-size: 40px;
    display: none;
}

.nav__btn .material-icons {
    display: none;
}


@media screen and (max-width: 992px) {
    .nav {
        gap: 15px;
    }

    .nav__btn {
        display: flex;
        justify-content: flex-end;
    }


    .nav__btn .btn {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__btn .material-icons {
        display: inline-block;

    }

    .nav__btn .btn__text {
        display: none;
    }


    .main {
        padding: 20px;
    }
}

.menu-burger {
    display: none;
}

#menuCheckbox {
    display: none;
}

@media screen and (max-width: 576px) {

    .menu-burger {
        display: flex;
    }


    .icon-menu {
        display: inline-block;
    }

    #menuCheckbox:checked~.nav__ul {
        /*display: none;*/
        transform: translateX(0);
        visibility: initial;
        pointer-events: initial;
        opacity: 1;
    }

    .nav__ul {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        padding: 60px;
        height: 100%;
        background: #333;
        transform: translateX(-110%);
        transition: .2s transform ease-in-out;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
    }

    .main {
        margin-top: 50px;
    }

    .main__title {
        font-size: 40px;
    }

    .main__desc {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .main__btn {
        padding: 14px 32px;
        font-size: 16px;
        /*want to make in my way*/
        /*min-width: 100%;*/
    }

    .loading {
        padding-bottom: 50px;
    }


}


@media screen and (max-width: 300px) {
    .loading {
        gap: 18px;
        /*add padding myself*/
        padding-bottom: 50px;
    }
}